@import "../../styles/theme-variables.scss";


.nav {
  @include themify($themes) {
    background: themed('headerFooterBackground');
  }
}

.light-theme {
  background: #fff;
  color: #111517;
}

.dark-theme {
  background: #2B3844;
  color: #fff;
  border: none;
}

.dark-theme::placeholder{
  color: #ffffff;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  transition: top 0.3s;
  z-index: 99999999;
}

nav .navBar {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
}

nav .navBar h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: left;
  text-shadow: 2px 6px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

nav .navBar p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  text-shadow: 2px 6px 10px rgba(0, 0, 0, 0.4);
}

nav .navBar .navBar-drkBtn {
  display: flex;
  flex-direction: row;
  width: 8%;
  justify-content: space-between;
  margin-top: 0.7rem;
  cursor: pointer;
}

nav .navBar .navBar-drkBtn .drkBtn-Img {
  margin-top: 1.1rem;
}
.card-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.main-container {
  margin-top: 4rem;
}


@media screen and (max-width: 768px) {
  nav .navBar .navBar-drkBtn{
    width: 15%;
  }
}
@media screen and (max-width: 430px) {
  nav .navBar .navBar-drkBtn{
    width: 26%;
  }
  p{
    font-size: 12px;
  }
}

@media screen and (max-width: 380px) {
  nav .navBar .navBar-drkBtn {
    width: 24%;
  }
  nav .navBar p {
    font-size: 12px;
    margin-top: 1.1rem;
  }
}
